main {
  z-index: -1;
  background-image: url('../public/Photos/background3.svg'), url('../public/Photos/background.svg'), url('../public/Photos/background2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  background-color: #F9f4F4;
  min-height: 100vh;
  min-width: 100%;
}

* {
  scroll-behavior: smooth;
}



.spin, .s-1 {
  animation: scale-small 1s linear infinite;
}

.s-2, .s-3 {
  animation: scale 1s linear infinite;
}

.s-3 {
  animation: react-spin 1s linear infinite;
}

.s-4 {
  animation: scale-l 1s linear infinite;
}

.l-spin {
  animation: spin 1s linear;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in .25s ease-out forwards;
}

.title, .t-fast {
  position: relative;
}
.title::after, .t-fast::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #a1fbfe; /* set the color of the rectangle shape */
  z-index: 1;
}

.title::after {
  animation:reveal 1s ease-in-out forwards 1s;
}

.t-fast::after {
  animation: reveal .5s ease-in-out forwards;
}

@keyframes reveal {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in:nth-child(2) {
  animation-delay: 0.2s;
}

.fade-in:nth-child(3) {
  animation-delay: 0.4s;
}

.fade-in:nth-child(4) {
  animation-delay: 0.6s;
}

.fade-in:nth-child(5) {
  animation-delay: 0.8s;
}

.fade-in:nth-child(6) {
  animation-delay: 1s;
}

.fade-in:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes scale-small {
  0% { transform: scale(.75); }
  50% { transform: scale(.9); }
  100% { transform: scale(.75); }
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1) }
}

@keyframes react-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes scale-l {
  0% { transform: scale(1.2); }
  50% { transform: scale(1.35); }
  100% { transform: scale(1.2) }
}

@keyframes warp {
  0% { border-radius: 50% 50% 50% 50% / 74% 22% 74% 22%; }
  50% { border-radius: 50% 50% 50% 50% / 22% 74% 22% 74%; }
  100% { border-radius: 50% 50% 50% 50% / 74% 22% 74% 22%; }
}

@keyframes color-change {
  0% {
    filter: drop-shadow(0 0 20px #f422d9);
  }
  25% {
    filter: drop-shadow(0 0 20px #a1fbfe);
  }
  50% {
    filter: drop-shadow(0 0 20px #8b7aea);
  }
  75% {
    filter: drop-shadow(0 0 20px #a1fbfe)
  }
  100% {
    filter: drop-shadow(0 0 20px #f422d9)
  }
}

@keyframes bg-color-change {
  0% {
    background-color: #f422d9;
  }
  25% {
    background-color: #a1fbfe;
  }
  50% {
    background-color: #8b7aea;
  }
  75% {
    background-color: #a1fbfe;
  }
  100% {
    background-color: #f422d9;
  }
}

#head {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
}

#logo {
  position: relative;
  margin: auto;
  padding-left: 1em;
  flex: 3;
}

#logo-img {
  width: 235px;
  object-fit: contain;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.menu-img {
  display: block;
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
}

.menu-icon {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.menu-icon::before {
  top: 2px;
}

.menu-icon::after {
  bottom: 2px;
}

.menu-icon.active::before {
  top: 45%;
  transform: rotate(45deg);
}

.menu-icon.active .menu-img {
  opacity: 0;
}

.menu-icon.active::after {
  bottom: 45%;
  transform: rotate(-45deg);
}

.link, .t-title {
  text-decoration: none;
  font-weight: 600;
}

.t-title {
  display: flex;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  padding: .5rem;
  background-color: #00000010;
}

.link {
  color: black;
}

.link:visited {
  color: black;
}

/* Home */

#intro, #intro-xp, #proj-home, #quick-links, #w-status {
  width: 60%;
  height: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#w-status, #quick-links {
  margin-right: auto;
  margin-left: auto;
}

#intro {
  margin: 120px auto 0 auto;
  padding: 0 1em;
}

#intro-xp {
  width: 60%;
  margin: 196px auto 0 auto;
  padding: 0 1em;
}

#intro, #intro-xp, #otw, #proj-home, #home-contact, .blur{
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
}

#value {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

#quick-links {
  margin-bottom: 0px;
  padding-bottom: 120px;
}

.split, #showcase {
  min-height: 250px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.split {
  flex-wrap: wrap-reverse;
  gap: 2em;
}

#showcase {
  margin-top: 1rem;
  border-top: 1px solid #00000030;
  flex-wrap: wrap;
}


h1, h2 {
  margin: 0 0 1rem 0;
  text-align: left;
}

#proj-home > h2, #intro > h1, #intro-xp > h1 {
  width: 100%;
}


h2 {
  margin-bottom: 0;
}

.place-mark {
  width: 20px;
  margin-right: .4em;
  object-fit: contain;
}

#sep-contact > .join > .place-mark {
  width: 24px;
}

#portrait {
  width: 250px;
  margin: auto;
  animation: warp 5s linear infinite, color-change 10s ease-in-out infinite, bg-color-change 10s ease-in-out infinite;  
}

.info {
  flex: 1 0 250px;
}

#portrait, #proj-home {
  height: 100%;
}

#proj-home {
  margin: auto;
}

.join {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pro-split > #bg-display > .separate > .join {
  justify-content: center;
}

#display > .separate > .join {
  width: 100%;
  justify-content: center;
}

.i-pad {
  padding-right: 3px;
  transform: scale(1.1);
}

.join > .proj-link {
  width: auto;
}


.description {
  margin: 0%;
}

.msg, .proj, .description, .list-item {
  line-height: 2rem;
}

#title {
  padding-top: 1em;
  width: 100%;
}

.proj-link {
  margin-top: 1em;
  margin-bottom: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.icon {
  width: 40px;
}

#intro > #t-stack > .stack-group > .icon,
#intro-xp > #t-stack > .stack-group > .icon {
  cursor: help;
}

.shrink {
  transform: scale(.75);
}

.h-shrink:hover {
  transform: scale(.9);
}

.i-grow {
  transform: scale(1.2);
}

#t-stack, #otw {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#t-stack {
  width: 60%;
}

#otw {
  width: 100%;
}

#otw, #proj-home, #home-contact, .blur {
  padding: 1em;
}

#t-stack {
  width: 75%;
  margin-top: 1em;
}

.stack-group {
  margin-top: 1em;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

/* project highlight */
.left-show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
  border-right: 1px solid #00000030;
}

.about, .blur {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 400px;
  padding: 1rem 0 1rem 1rem;
}

.separate {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex: 1;
}

#live {
  margin-top: 0%;
  margin-bottom: 0%;
  align-self: center;
}

#invalid {
  cursor: not-allowed;
}

#home-contact {
  width: 100%;
}

.half, .h-contact {
  text-align: center;
  width: 100%;
}

#sep-contact {
  justify-content: space-between;
  flex-wrap: wrap;
}

#sep-contact > .half {
  flex: 0 0 184px;
}

#sep-contact > .h-contact {
  flex: .33 0 120px;
}

#selector {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

#proj-photo {
  width: 100%;
  object-fit: contain;
  flex: 3;
  border-radius: 7.5px;
}

/* to add pseudo elements to .more on hover */
.more {
  position: relative;
  width: 100%;
  height: 100%;
}

.more-dtl {
  position: absolute;
  display: none;
  z-index: 0;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 1;
  padding: .5em;
  border-radius: 10px;
  border: 2px solid transparent;
  font-weight: bold;
}

.more:hover .more-dtl {
  color: #000;
  display: block;
}

.more::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.more:hover::after {
  background-color: #fff9;
  backdrop-filter: blur(1px);
}

.more-dtl > #t-stack {
  width: 100%;
  height: 100%;
}

/* About */
/* #about also located in previous section with #display line ~101 */
.about {
  width: 100%;
  height: auto;
  margin: auto;
}

.pad {
  margin-top: 120px;
}

.pad-xp {
  margin-top: 196px;
}

.bottom {
  margin-bottom: 100px;
}

#bg-split, #pro-split {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

#bg-split {
  align-items: stretch;
  margin-top: 1em;
  border-top: 1px solid #00000030;
}

#bg-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px 0 0 8px;
  flex: 1;
  border-right: 1px solid #00000030;
}


#bg-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1rem 0 1rem 1rem;
  flex: 4;
}

#bg-display > .stack-group {
  width: 100%;
  margin-top: 0%;
  gap: 1rem;
}

#bg-content > h3 {
  cursor: pointer;
  text-align: center;
}

.p-c, .milestone {
  text-align: center;
  flex: 1 1 185px;
  display: flex;
  align-items: stretch;
}

h3 {
  font-size: 1em;
}

#bg-split #bg-content {
  padding-left: 0;
}

/* Projects */

#pro-tabs {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #00000030;
  border-bottom: 1px solid #00000030;
}

#pro-split {
  flex-wrap: wrap;
}

#pro-split #bg-display {
  padding: 1rem 0 0 1rem;
}
#pro-split #bg-content {
  padding: 1rem 1rem 0 0;
  flex-wrap: wrap;
}

#pro-split > #bg-content > h3 {
  cursor: pointer;
}

.tabs, .tab, .select, .t-select {
  margin: 0%;
  line-height: 2rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.select, .t-select {
  outline: 1px solid #00000070;
}

.equalize, .drop {
  background-color: #00000010;
  text-align: center;
  border-radius: 8px;
}

.drop {
  padding: .5rem;
}

.drop:hover {
  background-color: #00000030;
}

.equalize {
  flex: 1;
}

.equalize:hover {
  background-color: #00000030;
}



.tab::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 1s ease;
}

.tab::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 1s ease;
}

.tab:hover::before, .tab:hover::after {
  width: 100%;
}



#pro-display {
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pro-link {
  line-height: 2em;
  text-align: center;
  flex: 1;
}

#toggle-view {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.role {
  font-size: 1.05em;
}

#proj-role {
  display: inline-block;
}

.detail-list {
  list-style: circle;
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-top: 0em;
  padding-left: 1em;
}

.gap {
  margin-top: 1em;
}

/* Contact Me */

#msg-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#msg-area, .list{
  width: 100%;
}

.drop, #toggle-view {
  line-height: 2em;
}

#msg-form > button {
  line-height: 2em;
  margin-top: 1em;
}

#form-split {
  line-height: 2em;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em;
}

#user-info, #msg-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#user-info {
  flex: 1 0 200px;
}

.input {
  display: flex;
  flex-direction: column;
}

#msg-content {
  flex: 1 0 200px;
}

input {
  height: 1.5em;
}

#socials > .stack-group {
  justify-content: space-between;
  width: auto;
}

#s-e, #i-c, #hs, #asd, #pc, #vertex {
  background-color: #00000010;
  border-radius: 8px;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-e:hover, #i-c:hover, #hs:hover, #asd:hover, #pc:hover, #vertex:hover, .t-title:hover {
  background-color: #00000030;
}


#intro .t-title:hover {
  background-color: transparent;
}

#intro .t-title {
  background-color: transparent;
  padding: 0;
}

.proj {
  padding: 0 .5rem;
  border-radius: 8px;
  background-color: #00000010;
  text-align: center;
}
.proj:hover {
  background-color: #00000030;
}

#msg-area {
  padding: 1rem 0;
  border-top: 1px solid #00000030;
}

#msg-area h2 {
  margin-bottom: 1rem;
}


@media screen and (max-width: 934px) {
  .proj {
    padding: 0 .5rem;
    flex: 1;
  }

  #selector {
    flex-direction: row;
    width: 100%;
  }

  #sep-contact > .h-contact {
    text-align: left;
    flex: 0 0 184px;
  }

  #sep-contact {
    justify-content: flex-start;
    gap: 1em;
  }

  #display {
    width: 100%;
    padding: 1rem 0;
    flex: 1 0 100px;
  }

  .left-show {
    width: 100%;
    padding: 0;
    border-right: 0;
    border-bottom: 1px solid #00000030;
  }
  
  .info {
    flex: 1 0 100%;
  }
  
  #showcase {
    flex-direction: column;
  }
  #bg-content > h3 {
    flex: 1 1 200px;
    text-align: center;
  }
  
  #bg-display > .stack-group {
    padding-bottom: 1rem;
    border-bottom: 1px solid #00000030;
    flex-wrap: wrap;
  }
  
  #bg-display, #pro-split #bg-display {
    width: 100%;
    padding: 1rem 0;
  }
  
  #bg-content {
    padding: 1rem 0;
    flex-direction: row;
    border-radius: 8px 8px 0 0;
    justify-content: space-around;
    align-items: stretch;
    border-right: 0;
    border-bottom: 1px solid #00000030;
  }
  #pro-split > #bg-content > h3 {
    width: 100px;
    text-align: center;
  }
  
  #pro-split > #bg-content {
    width: 100%;
    padding: 1rem 0 1rem 0;
  }
  .drop {
    padding: 0;
    flex: 1 1 200px;
  }
  
  #pro-split {
    align-items: center;
  }
  
  
  
  #bg-split, #pro-split {
    flex-direction: column;
  }

  .t-title {
    padding: 0 .5rem;
  }
} 

@media screen and (max-width: 768px) {
  
  
  #msg-content {
    flex: 1 0 280px;
  }

  .input {
    flex: 1 0 205px;
  }

  #user-info {
    flex: 1 0 280px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }

  .equalize {
    font-size: 16px;
  }


  #portrait {
    width: 220px;
  }

  #head {
    flex-wrap: wrap;
  }

  .menu-icon {
      display: flex;
      margin-right: 1.5em;
  }

  #nav {
      display: none;
  }

  #nav.show {
      display: flex;
      flex: 0 0 75%;
      flex-direction: column;
      align-items: center;
      margin: auto;
      background-color: #ffffff10;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      border-radius: 15px;
  }

  .nav-link {
    width: 100px;
    text-align: center;
  }

  #intro, #intro-xp, #proj-home, #quick-links, #w-status {
    width: 75%;
  }

  #logo {
    flex: 2;
  }

  #logo-img {
    width: 200px;
  }

  .msg, .proj, .description, .list-item, #toggle-view{
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {

  #msg-content {
    flex: 1 0 200px;
  }

  #user-info {
    flex: 1 0 200px;
  }

  .drop {
    font-size: 14px;
  }

  #selector {
    flex-direction: column;
    flex: 0 0 100%;
    gap: 1em;
    text-align: center;
  }

  #t-stack {
    width: 100%;
  }

  .icon {
    width: 30px;
  }

  .msg, .proj, .description, .list-item, #toggle-view{
    font-size: 12px;
  }

  #portrait {
    width: 150px;
  }

  h1, h2 {
    font-size: 18px;
  }

  .nav-link {
    font-size: 14px;
  }

  #logo-img {
    width: 170px;
  }

  .t-title {
    font-size: 14px;
  }
  
  #showcase {
    gap: 1em;
  }
} 

@media screen and (max-width: 438px) {

  .menu-icon {
    width: 18px;
    height: 18px;
  }
} 
