main {
  z-index: -1;
  background-image: url('../public/Photos/background3.svg'), url('../public/Photos/background.svg'), url('../public/Photos/background2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  background-color: #F9f4F4;
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;
}



.spin, .s-1 {
  animation: scale-small 1s linear infinite;
}

.s-2, .s-3 {
  animation: scale 1s linear infinite;
}

.s-3 {
  animation: react-spin 1s linear infinite;
}

.s-4 {
  animation: scale-l 1s linear infinite;
}

.l-spin {
  animation: spin 1s linear;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in .25s ease-out forwards;
}

.title, .t-fast {
  position: relative;
}
.title::after, .t-fast::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #a1fbfe; /* set the color of the rectangle shape */
  z-index: 1;
}

.title::after {
  animation:reveal 1s ease-in-out forwards 1s;
}

.t-fast::after {
  animation: reveal .5s ease-in-out forwards;
}

@keyframes reveal {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in:nth-child(2) {
  animation-delay: 0.2s;
}

.fade-in:nth-child(3) {
  animation-delay: 0.4s;
}

.fade-in:nth-child(4) {
  animation-delay: 0.6s;
}

.fade-in:nth-child(5) {
  animation-delay: 0.8s;
}

.fade-in:nth-child(6) {
  animation-delay: 1s;
}

.fade-in:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes scale-small {
  0% { transform: scale(.75); }
  50% { transform: scale(.9); }
  100% { transform: scale(.75); }
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1) }
}

@keyframes react-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes scale-l {
  0% { transform: scale(1.2); }
  50% { transform: scale(1.35); }
  100% { transform: scale(1.2) }
}

@keyframes warp {
  0% { border-radius: 50% 50% 50% 50% / 74% 22% 74% 22%; }
  50% { border-radius: 50% 50% 50% 50% / 22% 74% 22% 74%; }
  100% { border-radius: 50% 50% 50% 50% / 74% 22% 74% 22%; }
}

@keyframes color-change {
  0% {
    filter: drop-shadow(0 0 20px #f422d9);
  }
  25% {
    filter: drop-shadow(0 0 20px #a1fbfe);
  }
  50% {
    filter: drop-shadow(0 0 20px #8b7aea);
  }
  75% {
    filter: drop-shadow(0 0 20px #a1fbfe)
  }
  100% {
    filter: drop-shadow(0 0 20px #f422d9)
  }
}

@keyframes bg-color-change {
  0% {
    background-color: #f422d9;
  }
  25% {
    background-color: #a1fbfe;
  }
  50% {
    background-color: #8b7aea;
  }
  75% {
    background-color: #a1fbfe;
  }
  100% {
    background-color: #f422d9;
  }
}

#head {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
}

#logo {
  position: relative;
  margin: auto;
  padding-left: 1em;
  flex: 3;

  @media (max-width: 768px) {
    flex: 2;
  }
}

#logo-img {
  width: 235px;
  object-fit: contain;

  @media (max-width: 768px) {
    width: 200px
  }

  @media (max-width: 576px) {
    width: 180px
  }
}

#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.menu-img {
  display: block;
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
}

.menu-icon {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;

  @media (max-width: 438px) {
    /* CSS styles for extra small devices */
    width: 18px;
    height: 18px;
  }
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.menu-icon::before {
  top: 2.5px;

  @media (max-width: 438px) {
    /* CSS styles for extra small devices */
    top: 2px;
  }
}

.menu-icon::after {
  bottom: 2.5px;

  @media (max-width: 438px) {
    /* CSS styles for extra small devices */
    bottom: 2px;
  }
}

.menu-icon.active::before {
  transform: rotate(45deg);
}

.menu-icon.active .menu-img {
  opacity: 0;
}

.menu-icon.active::after {
  transform: rotate(-45deg);
}


@media screen and (max-width: 768px) {
  #head {
    flex-wrap: wrap;
  }
  .menu-icon {
      display: flex;
      margin-right: 1.5em;
  }
  #nav {
      display: none;
  }
  #nav.show {
      display: flex;
      flex: 0 0 75%;
      flex-direction: column;
      align-items: center;
      margin: auto;
      background-color: #ffffff10;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      border-radius: 15px;
  }

  .nav-link {
    width: 100px;
    text-align: center;

    @media (max-width: 576px) {
      /* CSS styles for extra small devices */
      font-size: 14px
    }
  }
}

.link, .t-title {
  text-decoration: none;
  font-weight: 600;
}

.t-title {
  display: flex;
  margin: auto;
  text-align: center;

  @media (max-width: 576px) {
    /* CSS styles for extra small devices */
    font-size: 14px
  }
}

.link {
  color: black;
}

.link:visited {
  color: black;
}

/* Home */

#intro, #intro-xp, #proj-home, #quick-links, #w-status {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro {
  width: 60%;
  margin: 120px auto 0 auto;
  padding: 0 1em;
}

#intro-xp {
  width: 60%;
  margin: 196px auto 0 auto;
  padding: 0 1em;
}

#intro, #intro-xp, #otw, #proj-home, #home-contact, .blur{
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
}

#value {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

#quick-links {
  margin-bottom: 0px;
  padding-bottom: 120px;
}

.split, #showcase {
  min-height: 250px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.split {
  flex-wrap: wrap-reverse;
  gap: 2em;
}

#showcase {
  margin-top: 1.5em;
  flex-wrap: wrap;
  gap: 2em;
}


h1, h2 {
  margin-top: 0;
  align-self: left;
  text-align: left;

  @media (max-width: 576px) {
    /* CSS styles for extra small devices */
    font-size: 18px
  }
}

#proj-home > h2, #intro > h1, #intro-xp > h1 {
  width: 100%;
}


h2 {
  margin-bottom: 0;
}

.place-mark {
  width: 20px;
  margin-right: .4em;
  object-fit: contain;
}

#sep-contact > .join > .place-mark {
  width: 24px;
}

#portrait {
  width: 250px;
  margin: auto;
  animation: warp 5s linear infinite, color-change 10s ease-in-out infinite, bg-color-change 10s ease-in-out infinite;

  @media (max-width: 768px) {
    /* CSS styles for large devices */
    width: 220px;
  }

  @media (max-width: 576px) {
    /* CSS styles for extra small devices */
    width: 150px
  }
  
}

.info {
  flex: 1 0 250px;

  @media (max-width: 934px) {
    /* CSS styles for large devices */
    flex: 1 0 100%
  }
}

#portrait, #proj-home {
  height: 100%;
}

#proj-home {
  width: 60%;
  margin: auto;
}

.join {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pro-split > #bg-display > .separate > .join {
  justify-content: center;
}

#display > .separate > .join {
  width: 100%;
  justify-content: center;
}

.i-pad {
  padding-right: 3px;
  transform: scale(1.1);
}

.join > .proj-link {
  width: auto;
}


.description {
  margin: 0%;
}

.msg, .proj, .description, .list-item {
  line-height: 2em;

  @media (max-width: 576px) {
    /* CSS styles for extra small devices */
    font-size: 12px
  }
}

#title {
  padding-top: 1em;
  width: 100%;
}

.proj-link {
  margin-top: 1em;
  margin-bottom: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.icon {
  width: 40px;

  @media (max-width: 576px) {
    width: 30px;
  }
}

#t-stack > .stack-group > .icon {
  cursor: help;
}

.shrink {
  transform: scale(.75);
}

.h-shrink:hover {
  transform: scale(.9);
}

.i-grow {
  transform: scale(1.2);
}

#t-stack, #otw {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#otw, #proj-home, #home-contact, .blur {
  padding: 1em;
}

#t-stack {
  width: 80%;
  margin-top: 1em;

  @media (max-width: 565px) {
    /* CSS styles for extra small devices */
    width: 100%;
  }
}

.stack-group {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* project highlight */
.left-show {
  flex: 0 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 934px) {
    /* CSS styles for large devices */
    flex: 1 0 200px
  }

  @media (max-width: 320px) {
    /* CSS styles for large devices */
    flex: 1 0 120px
  }
}

#display, .about, .blur {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

#display {
  flex: .5 0 400px;

  @media (max-width: 565px) {
    /* CSS styles for extra small devices */
    flex: 1 0 220px
  }

  @media (max-width: 320px) {
    /* CSS styles for large devices */
    flex: 1 0 120px
  }

}

.separate {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex: 1;
}

#live {
  margin-top: 0%;
  margin-bottom: 0%;
  align-self: center;
}

#invalid {
  cursor: not-allowed;
}

#home-contact {
  width: 60%;
}

.half, .h-contact {
  text-align: center;
  width: 100%;
}

#sep-contact {
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 934px) {
    justify-content: flex-start;
    gap: 1em;
  }
}

#sep-contact > .half {
  flex: 0 0 184px;
}

#sep-contact > .h-contact {
  flex: .33 0 120px;

  @media (max-width: 934px) {
    /* CSS styles for large devices */
    text-align: left;
    flex: 0 0 184px
  }
}

#selector {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media (max-width: 934px) {
    /* CSS styles for large devices */
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 565px) {
    /* CSS styles for large devices */
    flex-direction: column;
    width: 100px;
    gap: 1em;
    margin: auto;
    text-align: center;
  }

}

#proj-photo {
  width: 100%;
  object-fit: contain;
  flex: 3;
  border-radius: 7.5px;
}

#intro, #intro-xp, #otw, #proj-home, #home-contact, .pad, .pad-xp {
  @media (max-width: 768px) {
    width: 75%;
  }
}

/* About */
/* #about also located in previous section with #display line ~101 */
.about {
  width: 100%;
  height: auto;
  margin: auto;
}

.pad {
  margin-top: 120px;
}

.pad-xp {
  margin-top: 196px;
}

.bottom {
  margin-bottom: 100px;
}

#bg-split, #pro-split {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

#bg-split {
  align-items: stretch;
  margin-top: 1em;
  gap: 1em;
}

#bg-content {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 2em;

  @media (max-width: 768px) {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}


#bg-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;

  @media (max-width: 768px) {
    width: 100%
  }
}

#bg-display > .stack-group {
  justify-content: space-between;
  margin-top: 0%;
  gap: 1em;

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    flex-direction: column;
  }
}

#bg-content > h3 {
  cursor: pointer;
  text-align: center;

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    width: 80px;
    text-align: center;
  }
}

.p-c, .milestone {

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    text-align: center;
    width: 45%;
  }

  @media (max-width: 438px) {
    /* CSS styles for extra small devices */
    text-align: center;
    width: 65%;
  }

  @media (max-width: 320px) {
    /* CSS styles for extra small devices */
    text-align: center;
    width: 75%;
  }
}

#s-e, #i-c, #hs, #asd, #pc {
  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    width: 100%;
  }
}

h3 {
  font-size: 1em;
}

/* Projects */

#pro-tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pro-split {
  margin-top: 1.5em;
  justify-content: space-between;

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    gap: 2em;
    align-items: center
  }
}

#pro-split > #bg-content {
  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    gap: 0;
  }
}

#pro-split > #bg-content > h3 {
  cursor: pointer;

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    width: 100px;
    text-align: center;
  }
}

.tab, .select, .t-select {
  margin: 0%;
  line-height: 2em;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.equalize {
  width: 120px;
  text-align: center;
  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    font-size: 16px;
  }
}

.select::before, .t-select::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.select::after, .t-select::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.tab::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 1s ease;
}

.tab::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 1s ease;
}

.tab:hover::before, .tab:hover::after {
  width: 100%;
}



#pro-display {
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pro-link {
  line-height: 2em;
  text-align: center;
  flex: 1;
}

#toggle-view {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.role {
  font-size: 1.05em;
}

#proj-role {
  display: inline-block;
}

.detail-list {
  list-style: circle;
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-top: 0em;
  padding-left: 1em;
}

.gap {
  margin-top: 1em;
}

/* Contact Me */

#msg-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#msg-area, .list, .ms-description{
  width: 100%;
}

.drop, #toggle-view {
  line-height: 2em;

  @media (max-width: 576px) {
    /* CSS styles for extra small devices */
    font-size: 14px
  }
}

#msg-form > button {
  line-height: 2em;
  margin-top: 1em;
}

#form-split {
  line-height: 2em;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em;
}

#user-info, #msg-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#user-info {
  flex: 1 0 200px;

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    flex: 1 0 280px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }

  @media (max-width: 565px) {
    /* CSS styles for extra small devices */
    flex: 1 0 200px;
  }
}

.input {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    flex: 1 0 205px;
  }
}

#msg-content {
  flex: 1 0 200px;

  @media (max-width: 768px) {
    /* CSS styles for extra small devices */
    flex: 1 0 280px;
  }

  @media (max-width: 565px) {
    /* CSS styles for extra small devices */
    flex: 1 0 200px;
  }
}

input {
  height: 1.5em;
}

#socials > .stack-group {
  justify-content: space-between;
}

