#head {
  height: 10vh;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
#logo {
  margin: auto;
  flex: 3;
}
#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}
.link, .t-title {
  text-decoration: none;
  font-weight: 600;
}

.link {
  color: black;
}

.link:visited {
  color: black;
}

/* Home */

#intro, #proj-home, #quick-links, #w-status {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.split, #showcase {
  min-height: 250px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

h1, h2 {
  margin-top: 0;
  width: 100%;
}

#proj-home > h2, #intro > h1 {
  width: 60%;
}

h2 {
  margin-bottom: 0;
}

.place-mark {
  width: 20px;
  margin-right: .4em;
  object-fit: contain;
}

#sep-contact > .join > .place-mark {
  width: 30px;
}

#portrait {
  width: 250px;
  border-radius: 20px;
}

#portrait, #proj-home {
  height: 100%;
}



.join {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.separate > .join {
  justify-content: center;
}

.description {
  margin: 0%;
}

.msg, .proj, .description {
  line-height: 2em;
}

.proj {
  cursor: pointer;
}

.proj-link {
  margin-top: 1em;
  margin-bottom: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.icon {
  width: 40px;
}

#t-stack, #otw {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stack-group {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* project highlight */
.left-show {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#display, #about {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.separate {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

#home-contact {
  width: 60%;
}

.half, .h-contact {
  text-align: center;
  width: 100%;
}

#sep-contact {
  justify-content: space-between;
}

#selector {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#proj-photo {
  width: 100%;
  object-fit: contain;
  flex: 3;
}

/* About */
/* #about also located in previous section with #display line ~101 */
#about {
  height: auto;
  margin: auto;
}

#about, #bg-abt {
  margin-top: 100px;
}

#bg-split, #pro-split {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#bg-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 100px;
  flex: 1;
}

#bg-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}


/* Projects */

#pro-tabs {
  width: 100%;
  display: flex;
  justify-content: left;
}

.tab {
flex: 1;
line-height: 2em;
cursor: pointer;
}

#pro-display {
  flex: 4;
}

#pro-link {
  text-align: center;
  flex: 1;
}

/* Contact Me */

#msg-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#msg-area, #socials, .list, .ms-description{
  width: 100%;
}

#drop {
  line-height: 2em;
}

#msg-form > button {
  line-height: 1.5em;
  margin-top: 1em;
}

#form-split {
  line-height: 2em;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-info, #msg-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#user-info {
  flex-basis: 35%;
}

#msg-content {
  flex-basis: 50%;
  height: 100%;
}

input {
  height: 1.5em;
}

textarea {
  height: 100%;
}

#socials {
  margin-top: 100px;
}

